<div class="laypro_footer">
    Powered by @{$site.shop_pet_name}<br>
</div>




<script src="/content/template/default/js/layui.js?v={$template_version}"></script>
<script src="/content/template/default/js/jquery.min.js?v={$template_version}"></script>
<script src="/content/template/default/js/main.js?v={$template_version}"></script>
<script src="/content/template/default/js/jquery.qrcode.min.js?v={$template_version}"></script>
<script src="/assets/shop/dist/uaredirect.js?v={$template_version}"></script>



</body>

</html>


