{php}
{/php}
{include file="content/template/default/header.html" /}
<style>
    .no-stock{
        text-align: center;
        border: initial;
        color: #fff;
        display: inline-block;
        width: 170px;
        font-size: 18px;
        font-weight: 700;
        line-height: 45px;
        border-radius: 100px;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        box-shadow: 0 5px 6px 0 rgb(73 105 230 / 22%);
        background-image: linear-gradient(135deg, #656565 10%, #c1c1c1 100%)
    }
</style>
<div class="main">
    <div class="layui-row">
        <div class="layui-col-md8 layui-col-md-offset2 layui-col-sm12">
            <div class="main-box">
                <div class="title" style="border-bottom: 1px solid #f7f7f7;padding-bottom: 5px">
                    <embed class="svg" src="/content/template/default/svg/spxq.svg" type="image/svg+xml"/>
                    <span>商品详情</span>
                </div>
                <div class="layui-col-md4 layui-col-sm12">
                    <div class="goods-img">
                        <img class="viewer-pictures" src="{$goods.cover}" alt="">
                    </div>
                </div>
                <form class="layui-form layui-form-pane" action="{:url('/confirm')}" method="get">
                    <input type="hidden" name="goods_id" value="{$goods.id}">
                    <input type="hidden" name="order_id" value="0">
                    <div class="layui-col-md8 layui-col-sm12">
                        <div class="goods-msg">
                            <div class="goods-name">
                                <embed class="svg" style="vertical-align: middle;"
                                       src="/content/template/default/svg/spmc.svg" type="image/svg+xml"/>
                                <span>
                                    {$goods.name}
                                    {if condition="$goods.deliver == 0"}
                                    <span class="small-tips tips-yellow" style="background: #5fb878; color: #fff;">自动发货</span>
                                    {else /}
                                    <span class="small-tips tips-yellow" style="background: #ff5722; color: #fff;">手动发货</span>
                                    {/if}
                                    <span class="small-tips tips-blue">库存({$goods.stock})</span>
                                </span>
                            </div>
                            <div class="price">
                                <span class="price-sign">￥</span>
                                <span class="price-num">{$goods.price}</span>
<!--                                <span class="price-c">[<del>￥{//$goods.original_price}</del>]</span>-->
                            </div>

                            <div class="entry notSelection">
                                <span class="l-msg">购买数量：</span>
                                <label class="input">
                                    <span class="sub" style="cursor: pointer;">
                                        <embed style="pointer-events: none;" class="svg" src="/content/template/default/svg/jian.svg" type="image/svg+xml"/>
                                    </span>
                                    <input class="pay-num" name="goods_num" id="orderNumber" required="" lay-verify="required|order_number" type="number" value="1">
                                    <span class="add" style="cursor: pointer;">
                                        <embed style="pointer-events: none;" class="svg" src="/content/template/default/svg/jia.svg" type="image/svg+xml"/>
                                    </span>
                                </label>
                            </div>

                            {if condition="isset($goods.order_params)"}
                            {volist name="goods.order_params" id="vo"}
                            <div class="entry">
                                <span class="l-msg">{$vo.title}：</span>
                                <label class="input">
                                    <input type="text" name="attach_{$vo.name}" required placeholder="{$vo.placeholder}">
                                </label>
                            </div>
                            {/volist}
                            {/if}

                        </div>
                        <div class="layui-col-sm12 buy">
                            {if condition="($goods.type == 'own' && $goods.stock > 0) || $goods.type == 'jiuwu'"}
                            <button><span>立即下单</span></button>
                            {/if}
                            {if condition="$goods.type == 'own' && $goods.stock <= 0"}
                            <div class="no-stock" style=""><span>库存不足</span></div>
                            {/if}
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
<div class="main">
    <div class="layui-row">
        <div class="layui-col-md8 layui-col-md-offset2 layui-col-sm12">
            <div class="main-box">
                <div class="title" style="border-bottom: 1px solid #f7f7f7;padding-bottom: 5px">
                    <embed class="svg" src="/content/template/default/svg/spjs.svg" type="image/svg+xml" />
                    <span>商品介绍</span>
                </div>
                <div class="intro">
                    {$goods.details}
                </div>
            </div>
        </div>
    </div>
</div>



<script>
    var stock = {:$goods.type == 'own' ? $goods.stock : $goods.max_int}
</script>


{include file="content/template/default/footer.html" /}
<script>


</script>

</body>
</html>
